.Projects {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-top: 10px;
    padding-left: 110px;
}
.bodyPageContainer {
    width:1048px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 600px;
  
}
.bodyPageContainer .header {
    width: 100%;
    background: #4834D4;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    height: 40px;
    border-radius: 8px;
}
.bodyPageContainer .header h2 {
    font-size: 16px;
    font-weight: normal !important;
    margin-right: 10px;
}
.content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    height: 90%;
    flex-direction: column;
    box-shadow: 0 0 8px -1px #ddd;
    border-radius: 5px;
    padding:20px 30px 0;
}
.content a {
    margin: 0 20px;
}
.content a svg {
    width: 90px;
    height: 90px;
}